.card {
  background-color: rgb(31, 0, 11);
  width: 400px;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(68, 0, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}