.card {
  background-color: rgb(31, 0, 11);
  width: 400px;
  min-height: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(68, 0, 24);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.quote {
  position: absolute;
  top: 2rem;
  left: 1rem;
  font-size: 9rem;
  color:rgba(0, 0, 0, 0.3);
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.2rem;
}

.body {
  z-index: 2;
  margin-bottom: 1rem;
}

.commands {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.moveIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.moveIcon:is(:hover, :focus) {
  background-color: black;
}

.iconPrev {
  transform: translateX(-1px);
}

.iconNext {
  transform: translateX(1px);
}

.randomBtn {
  margin-top: 2rem;
}